In [1]:
import pandas as pd

In [9]:
df1 = pd.read_csv("data_downloads_cleaned.csv")

In [7]:
df2 = pd.read_csv("document-filetype_prediction_testset.csv")

In [11]:
df1.columns

Index(['FileName', 'FileExt', 'DateModified', 'Size_KB', 'Size_GB', 'Source',
       'Path', 'SimplePath', 'ParentPath', 'FileNameClean', 'FileType', 'Year',
       'Month', 'UsiaDokumen', 'Size_MB', 'SizeCategory', 'Source_Class',
       'Path_modified', 'Folder_Root', 'Subfolder_L2', 'Subfolder_L3',
       'Subfolder_L4', 'Subfolder_L5', 'Subfolder_L6', 'Filename',
       'Path_Class', 'Path_Anomali', 'Path_Uniform'],
      dtype='object')

In [5]:
df2

,FileNameClean,FileExt_encoded,SimplePath_encoded,Size_KB,FileType,FileType_predicted
0,Desktop,54,5387,0.28,system,code
1,Googledrivesetup,34,365,331614.59,system,system
2,Cover Letter Graduate 2025 Mott Macdonald,82,182,74.41,document,document
3,Hcml Well Sample,131,366,275.54,spreadsheet,spreadsheet
4,Document Location Number List Final 01 Eko Aut...,131,221,1921.30,spreadsheet,spreadsheet
...,...,...,...,...,...,...
7563,7 Penggunaan Lahan,82,5005,2045.92,document,document
7564,4 Gunungapi,82,5002,1533.31,document,document
7565,1 Kelas Lereng,82,4999,2025.40,document,document
7566,5 Pengamatan,82,5003,1617.38,document,document
7567,6 Curah Hujan,82,5004,1618.46,document,document

In [20]:
# Jika ingin hasil akhir berupa DataFrame
df_filetype = pd.concat([df1['FileType'].reset_index(drop=True),
                         df2['FileType_predicted'].reset_index(drop=True), df2['FileNameClean'].reset_index(drop=True)],
                        axis=1)

In [21]:
df_filetype

,FileType,FileType_predicted,FileNameClean
0,system,code,Desktop
1,system,system,Googledrivesetup
2,document,document,Cover Letter Graduate 2025 Mott Macdonald
3,spreadsheet,spreadsheet,Hcml Well Sample
4,spreadsheet,spreadsheet,Document Location Number List Final 01 Eko Aut...
...,...,...,...
7563,document,document,7 Penggunaan Lahan
7564,document,document,4 Gunungapi
7565,document,document,1 Kelas Lereng
7566,document,document,5 Pengamatan
7567,document,document,6 Curah Hujan

In [22]:
df_filetype['FileType'].value_counts()

FileType
gis             2679
image           1049
document         701
data             673
unknown          547
system           375
web              336
spreadsheet      270
text             244
package          216
project          171
video             68
archive           65
audio             49
cad               33
design            26
config            17
code              16
presentation      15
geoscience        11
notebook           3
security           2
subtitle           2
Name: count, dtype: int64

In [17]:
df_filetype['FileType_predicted'].value_counts()

FileType_predicted
gis             2680
image           1048
document         705
data             672
unknown          548
system           379
web              338
spreadsheet      274
text             241
package          218
project          170
video             68
archive           63
audio             47
cad               31
design            25
config            17
code              14
presentation      12
geoscience        10
notebook           3
subtitle           3
security           2
Name: count, dtype: int64

In [23]:
mismatch = df_filetype['FileType'] != df_filetype['FileType_predicted']
num_mismatches = mismatch.sum()
print(f"Jumlah prediksi yang tidak cocok: {num_mismatches} dari {len(df_filetype)} baris")

Jumlah prediksi yang tidak cocok: 32 dari 7568 baris

In [24]:
df_mismatched = df_filetype[mismatch]
print(df_mismatched.head())

         FileType FileType_predicted  \
0          system               code
155           gis             system
168           cad             system
278           web                gis
545  presentation              video

                                         FileNameClean
0                                              Desktop
155                                   Top Layer Kujung
168                       Contour Top Reservoir Kujung
278                                         Stylesheet
545  Final Paper Publication From Hcml Employee 202...

In [25]:
df_mismatched.head()

,FileType,FileType_predicted,FileNameClean
0,system,code,Desktop
155,gis,system,Top Layer Kujung
168,cad,system,Contour Top Reservoir Kujung
278,web,gis,Stylesheet
545,presentation,video,Final Paper Publication From Hcml Employee 202...

jadi pakai FileType, Tanpa Machine Learning-tp pakai manual